<div class=" container mx-auto max-w-4xl py-28">
    <h1 class="font-sans text-4xl text-center pb-3">Thanks for requesting money from us</h1>
    <p class="font-sans text-center text-2xl text-gray-600">we'll send you an email</p>
</div>