<!-- how this works -->
<div class="bg-gray-100">
    <div class="container mx-auto px-10 max-w-5xl py-20">
        <h1 class="font-sans text-4xl text-center  pb-4">lets get you some money</h1>
        <h1 class="font-sans text-xl text-center  pb-6">How this works</h1>
        
        <div class="grid grid-cols-2 gap-10 pb-10">

            <div class="py-6">
                <p class=" text-center font-sans text-3xl pb-3">You request a fund</p>
                <p class=" pl-4 border-l-4 border-red-700">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae commodi ipsam sint velit alias quidem dicta, magnam quasi! Error, ullam perferendis reiciendis aperiam consequatur ratione?
                </p>
            </div>
            <div class="py-6 ">
                <p class="font-sans text-center text-3xl pb-3">You pay back when due-date</p>
                <p class="border-l-4 pl-4 border-red-700">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae commodi ipsam sint velit alias quidem dicta, magnam quasi! Error, ullam perferendis reiciendis aperiam consequatur ratione?
                </p>
            </div>

        </div>
        <div class="max-w-2xl mx-auto text-center">
            <h1 class="font-sans text-2xl underline pb-6 font-bold">If agreed please go to the form and get some cash</h1>
            <a asp-controller="LandingMoney" asp-action="FillingForm" class="font-sans text-xl bg-red-600 cursor-pointer text-white py-3 px-10">Go to the Form</a> 
        </div>

    </div>
</div>
