@{

}

<div class="">
    <div class="container mx-auto px-10 max-w-4xl py-48 px-10">
        <div class="grid border-l-2 border-red-600 px-5 grid-cols-2 gap-3 items-center">
            <h1 class="font-sans text-3xl">About <span class="text-red-400 underline">MoneyLandingApp</span></h1>
            <p class="font-serif text-lg text-gray-600">
                 elit. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium odit eius vitae harum ea! Cumque at quam quaerat unde provident. Accusantium accusamus id optio impedit numquam maxime, enim repudiandae delectus libero dolorem consequatur quia alias! Eaque laboriosam sit quo fugiat.
            </p>
        </div>
    </div>
</div>