@model moneylandingApp.Models.OurBankAmount;

@{


}


<!-- change our bank baaalnce -->
<div class="">
    <div class="container mx-auto px-10 max-w-3xl py-20">
        <div class="pb-10">
            <a asp-action="AdminPanel" class="font-sans text-xl border-2 border-black py-1 px-2">Rturn To List</a>
        </div>
        <h2 class="font-serif text-3xl">Current Balance: </h2>
        <div class="">
                <form  class="max-w-xl">
                    <div class="pb-4">
                    <input  disabled type="text" value="@Model.Amount"  class="w-full text-4xl py-2 text-center border-red-600 border-2">
                    </div>
                </form>
                <button>
                @* <a  asp-action="DeleteBankBalance" class="grid-cols-1 bg-red-600 py-2 px-4 text-center text-white shadow-xl">Delete Amount</a> *@
                </button>
        </div>
    </div>
</div>